@import '../gscss/global';

.header {
    margin-bottom: 12px;

    &__content {
        margin: auto;
        position: relative;
        width: 540px;
    }

    &__logo {
        background-image: url('../assets/logo.png');
        background-size: contain;
        display: block;
        float: left;
        height: 32px;
        margin: 16px 32px 0 0;
        width: 32px;
        
    }

    &__title {
        float: left;
        font-size: 32px;
        height: 64px;
        line-height: 2;
        text-align: center;
    }

    &__logo:hover {
        animation-duration: 1s;
        animation-name: header__logo-animation;
    }

    @keyframes header__logo-animation {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(0.8);
        }

        50% {
            transform: scale(1);
        }

        75% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1);
        }
    }

    &__btn-show-explanations-wrapper {
        float: left;
        margin-left: 12px;
    }

    &__btn-show-explanations {
        @extend %g__shadow;
        background-color: #54636e;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        height: 24px;
        line-height: 1.5;
        position: absolute;
        text-align: center;
        top: 20px;
        width: 24px;
    }

    &__remark-about-browser {
        font-size: 12px;
        margin: auto;
        margin-bottom: 36px;
        max-width: 540px;
    }
}
